body {
  background: $dark-grey;
  color: $text-color;
  font: normal 80% / 1.5 $sans; // IE9&10 can't handle REMs in shorthand
  @include media($state) {
    font-size: 90%;
  }
  @include media($country) {
    font-size: 100%;
  }
}

// Vertical spacing reset
h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0 0 1em;
  .page-inside main &,
  .page-inside aside &
   {
    @include rem(margin,0 0 10px);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.3;
  font-family: $serif;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
  margin-bottom: 0.25em;
}

a {
  color: $link-color;
  border-bottom: solid 1px $link-color;
  text-decoration: none;
  @include default_transition();
  &:hover {
    border-bottom-color: transparent;
  }
  .intro & {
    color: #fff;
    border-bottom-color: #fff;
    &:hover {
      border-bottom-color: transparent;
    }
  }
  &.button {
    @include button($brand-orange);
  }
}

b,
strong
{
  font-weight: 600;
}

hr {
  border: 0;
  border-bottom: solid 1px $blue-grey;
  margin: 2rem 0;
}

img {
  max-width: 100%;
}


.alignleft,
.alignright
{
  border: solid 1px $light-grey;
  box-shadow: 3px 3px 6px 0 rgba(0,0,0,0.2);
  display: block;
  width: 100%;
  @include media($city) {
    display: inline-block;
    width: auto;
  }
}
.alignleft {
  @include media($city) {
    float: left;
    margin: 0 0.5em 0.5em 0;
  }
}
.alignright {
  @include media($city) {
    float: right;
    margin: 0 0 0.5em 0.5em;
  }
}

.dark {
  background: $off-white;
}


header {
  a {
    text-decoration: none;
    border-bottom: 0;
  }
  .top-bar {
    @include rem(padding-top, 20px);
    @include rem(padding-bottom, 20px);
    text-align: center;
    .logo {
      display: block;
      margin-bottom: 1em;
      @include media($city) {
        float: left;
        margin-bottom: 0;
      }
    }
    form {
      @include media($city) {
        float: right;
      }
    }
  }
  #menu-trigger,
  nav a
  {
    display: block;
    padding: 1em 0.5em 0.75em;
    text-align: center;
    font-family: $serif;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    background: $brand-purple;
    color: $blue-grey;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    @include media($city) {
      font-size: 0.75em;
      border-bottom: 0;
    }
    &.current_page_item,
    &:hover
    {
      background: $brand-orange;
      color: #fff;
    }
  }

  #menu-trigger {
    cursor: pointer;
    @include media($city) {
      display: none;
    }
  }

  nav {
    background: $brand-purple;
    color: #fff;
    .container {
      max-height: 0;
      text-align: center;
      padding: 0;
      @include media($city) {
        max-height: 999em;
        padding-left: 1em;
        padding-right: 1em;
      }
    }
    ul,
    li
    {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    li {
      @include media($city) {
        display: inline-block;
      }
    }

  }

  #menu-trigger.open{
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.4) inset;
    & + nav {
      .container {
        max-height: 999em;
      }
    }
  }

}


footer {
  padding: 2em 0;
  color: #fff;
  .columns {
    @include rem(font-size, 15px);
    img {
      width: auto;
    }
  }
  .contact-info {
    display: block;
    padding-top: 2em;
  }
  a {
    color: $brand-orange;
    border-bottom-color: $brand-orange;
    text-decoration: none;
    &:hover {
      border-bottom-color: transparent;
    }
  }
  ul,
  li {
    list-style: none;
    padding: 0;
  }
}

.social {
  a {
    display: inline-block;
    color: $light-grey;
    @include rem(font-size,50px);
    @include media($city) {
      @include rem(font-size,40px);
    }
    @include media($state) {
      @include rem(font-size,50px);
    }
    text-decoration: none;
    border-bottom: none;
    margin-left: 0.25em;
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      color: #fff;
    }
  }
}


.contact-info {
  @include rem(font-size, 15px);
}


.cta {
  background-color: $mushroom;
  .container {
    padding-left: 0;
    padding-right: 0;
    @include media($city) {
      padding-left: 1em;
      padding-right: 1em;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        padding: 0;
        margin-bottom: 0;
        text-align: center;
        @include media($city) {
          padding-top: 1em;
          padding-bottom: 1em;
        }
      }
    }

  }  // .container

  a {
    display: block;
    background: $brand-purple;
    color: $blue-grey;
    text-align: center;
    text-decoration: none;
    padding: 1em 0.5em 0.75em;
    font-family: $serif;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    text-transform: uppercase;

    &:hover {
      background: $brand-orange;
      color: #fff;
    }

    @include media($city) {
      &:hover {
        // border: solid 1px #fff;
        // transform: scale(1.1); /* 1/10 of the original size */
        // transition: all 333ms ease-in-out;
      }
      text-transform: none;
      padding: 0;
      @include rem(font-size,25px);
      // line-height: 6.5;
      // width: 6.5em;
      display: inline-block;
      // border-radius: 50%;
    }
    @include media($state) {
      // @include rem(font-size,35px);
      // line-height: 6.5;
      // width: 6.5em;
    }

  }




}


html.page-inside {
  .cta {
    a {
      @include media($city) {
        background: transparent;
        color: $brand-purple;
        border-bottom: 0;
        &:hover {
          color: $brand-orange;
        }
      }
    }
  }
  .motherlode {
    @include rem(padding-top,40px);
    @include rem(padding-bottom,40px);
  }
  main {
    position: relative;
    @include media($city) {
      @include span-columns(6,9);
      &:after {
        border-right: 1px solid $light-grey;
        bottom: 0;
        content: "";
        position: absolute;
        right: -1em;
        top: 0;
      }
    }
    img {
      height: auto !important;
    }
    p + p {
      margin-top: 1.5em;
    }
  }
  aside {
    @include media($city) {
      @include span-columns(3,9);
    }
    @include omega;
    blockquote {
      padding: 1em;
      margin: 0 0 1em;
      background: $mushroom;
    }
  }
}




















